.body {
    margin: 0;
}
.mass-body {
    height: 100vh;
    background-image: url('https://res.cloudinary.com/ds6ennjmq/image/upload/v1714225703/portfolio_rmgmo7.avif');
    background-size: cover;
}
.vn {
    height: 180px;
    width: 180px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}
.nav-item {
    padding: 10px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}
.navbar-list {
    color: rgb(231, 168, 9);
}
.navbar-list:hover {
    color: rgb(158, 234, 7);
}
.home {
   margin: 0;
}
.para {
    color: white;
    margin-left: 40px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header {
    margin-left: 60px;
    -webkit-text-stroke: 0.1vw rgb(255, 0, 140);
    text-transform: uppercase;
    position: relative;
    font-size: 100px;
}

.header::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    color: rgb(255, 0, 140);
    -webkit-text-stroke: 0.1vw rgb(255, 0, 140);
    border-right: 2px solid rgb(255, 0, 140);
    overflow: hidden;
    animation: animate 8s linear infinite;
}
@keyframes animate 
{
    0%, 10%, 100%
    {
        width: 0;
    }
    70%, 90% 
    {
        width: 100%;
    }
}
.full {
    color: white;
    margin-left: 40px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

/* Mobile Phones and Small Screens */
@media (max-width: 768px) {
    .header {
        font-size: 60px;
        margin-left: 20px;
    }
    .nav-item {
        font-size: 8px;
        padding: 0px;
        margin: 5px;
    }
    .para, .full {
        font-size: 15px;
        margin-left: 10px;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-item {
        font-size: 18px;
        margin: 5px;
    }
    .vn {
        height: 80px;
        width: 70px;
    }
    .header {
        font-size: 40px;
    }
    .home {
        margin-top: 30px;
    }
    .navbar-toggler {
        background-color: white;
    }
}

/* Extra Small Screens */
@media (max-width: 375px) {
    .header {
        font-size: 20px;
        margin-left: 10px;
    }
    .para, .full {
        font-size: 10px;
    }
    .navbar {
        align-items: flex-start;
    }
    .nav-item {
        font-size: 16px;
        margin: 5px;
    }
}
.about-home {
    background-image: url('https://res.cloudinary.com/ds6ennjmq/image/upload/v1726155104/Untitled_design_2_j5mhsh.png');
    background-size: cover;
    height: 100vh;
}
.navigatiom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ven {
    font-size: 30px;
    color: rgb(23, 221, 23);
}
.nav-brand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-listbrand {
    padding: 30px;
}
.aboutpage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.para {
    width: 60vw;
    margin-top: 50px;
    font-size: 18px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 200px;
}
.aboutpage-left {
    width: 40vw;
    margin-left: 180px;
}
.img-home {
    height: 480px;
    width: 380px;
    border-radius: 50px;
}
.par {
    font-size: 50px;
    color: rgb(201, 15, 46);
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    animation: text 4s 1;
}
@media (max-width: 768px) {
    .aboutpage {
        flex-direction: column; 
        justify-content: center;
        text-align: center;
    }
    .aboutpage-left {
        width: 80vw;
        margin-left: 0px;
    }
    .para {
        width: 80vw;
        margin-right: 15px;
        font-size: 15px;
    }
    .img-home {
        height: 200px;
        width: 150px;
        margin: 20px 0;
    }
    .par {
        font-size: 40px;
    }
    .about-home {
        height: 120vh;
    }
}
@media (max-width: 480px) {
    .ven {
        font-size: 24px;
    }
    .aboutpage-left {
        width: 85vw;
        margin-left: 0px;
    }
    .para {
        width: 85vw;
        margin-right: 15px;
        font-size: 15px;
        margin-left: 15px;
    }
    .img-home {
        height: 200px;
        width: 150px;
        margin: 20px 0;
    }
    .par {
        font-size: 30px;
        color: white;
    }
    .nav-brand {
        flex-direction: column;
        text-align: center;
    }
    .nav-listbrand {
        padding: 10px;
    }
    .about-home {
        height: 180vh;
    }
}